@import "../../../mixins.scss";

.GeckoUICalendar {
  &__day-picker-weekdays {
    @apply mb-2 grid grid-cols-7 place-items-center font-medium opacity-40;
  }

  &__day-picker {
    @apply grid grid-cols-7 gap-y-[1px];

    &__button {
      @include button-reset;

      @apply relative flex aspect-square size-full cursor-pointer items-center justify-center place-self-center rounded-md hover:bg-surface-hover-strong disabled:cursor-not-allowed;

      &--today {
        @apply text-primary-600;
      }

      &--selected {
        @apply text-surface-tertiary;
      }

      &--selected {
        @apply bg-primary-700 text-text-on-primary hover:bg-primary-600;
      }

      &--active-month-false {
        @apply opacity-40;
      }

      &--hover-preview {
        @apply rounded-none bg-primary-100;
      }

      &--in-range {
        @apply relative rounded-none bg-primary-700 hover:bg-primary-600;
      }

      &--range-start,
      &--range-end {
        @apply bg-primary-700 hover:bg-primary-600;
      }

      &--range-start {
        @apply rounded-l-md;
      }

      &--range-end {
        @apply rounded-r-md;
      }

      &--hover-preview-start {
        @apply rounded-l-md rounded-r-none;
      }

      &--hover-preview-end {
        @apply rounded-l-none rounded-r-md;
      }

      &--range-start,
      &--range-end,
      &--in-range {
        @apply text-text-on-primary;
      }

      &--disabled {
        @apply cursor-not-allowed opacity-30;
      }
    }
  }
}

.dark .GeckoUICalendar {
  &__day-picker {
    &__button {
      &--hover-preview {
        @apply bg-primary-500;
      }
    }
  }
}
