@import "../../../mixins.scss";

.GeckoUICalendar {
  &__day-picker-weekdays {
    @apply mb-2 grid grid-cols-7 place-items-center font-medium opacity-40;
  }

  &__day-picker {
    @apply grid grid-cols-7 gap-y-[1px];

    &__button {
      @include button-reset;

      @apply relative flex aspect-square size-full cursor-pointer items-center justify-center place-self-center hover:bg-surface-hover-strong disabled:cursor-not-allowed;

      &__text {
        @apply size-full;
      }

      &--today {
        @apply text-primary-600;
      }

      &--selected,
      &--focused {
        @apply text-surface-tertiary;
      }

      &--selected &__text {
        @apply bg-primary-700 text-text-inverse;
      }

      &--focused &__text {
        @apply bg-primary-600/25;
      }

      &--active-month-false &__text {
        @apply opacity-40;
      }

      &--range-start &__text,
      &--range-end &__text {
        @apply text-text-on-primary bg-primary-700;
      }

      &--range-start &__text {
        @apply rounded-r-none;
      }

      &--range-end &__text {
        @apply rounded-l-none;
      }

      &--in-range {
        @apply relative bg-primary-700;
      }

      &--in-range &__text {
        @apply text-text-on-primary;
      }

      &--range-start {
        @apply relative bg-transparent;

        &::before {
          content: "";
          @apply absolute inset-y-0 right-0 z-[-1] w-1/2 bg-primary-100;
        }
      }

      &--range-end {
        @apply relative bg-transparent;

        &::before {
          content: "";
          @apply absolute inset-y-0 left-0 z-[-1] w-1/2 bg-primary-100;
        }
      }

      &--hover-preview {
        @apply relative bg-primary-100;

        &::before {
          content: "";
          @apply absolute inset-y-0 -left-px right-0 z-[-1] bg-primary-50;
        }
      }

      &__text {
        @apply relative z-10 flex aspect-square basis-6 items-center justify-center rounded-md;
      }
    }
  }
}

.dark .GeckoUICalendar {
  &__day-picker {
    &__button {
      &--hover-preview {
        @apply relative bg-primary-500;

        &::before {
          @apply bg-primary-500;
        }
      }
    }
  }
}
