@import "../../../mixins.scss";

.GeckoUIRHFFilePicker {
  @apply relative flex h-[220px] w-full flex-col rounded border-2 border-dashed border-border-secondary;

  &--loading {
    @apply cursor-wait;
  }

  &--dragging {
    @apply border-primary-400;
  }

  &--error {
    @apply border-red-500;
  }

  &__file-list {
    @apply w-full flex-1 flex-col overflow-y-auto p-0 text-start;
  }

  &__file-item {
    @apply bg-surface-primary px-4 py-2 even:bg-surface-tertiary;
  }

  &__button-container {
    @apply absolute bottom-2 right-2 flex flex-col gap-2;
  }

  &__button {
    @include button-reset;

    @apply size-9 rounded-full border border-text-muted bg-surface-primary p-2 shadow transition-colors duration-200;

    &:hover {
      @apply bg-surface-tertiary;
    }
  }

  &__button-icon {
    @apply h-4 w-4 text-text-muted;
  }

  &__empty-state {
    @apply flex flex-1 items-center justify-center;
  }

  &__loading-overlay {
    @apply pointer-events-none absolute inset-0 flex items-center justify-center bg-surface-primary bg-opacity-50;
  }
}
