@import "../../mixins.scss";

.GeckoUISwitch {
  @include button-reset;
  @include focus-outline;

  @apply bg-surface-active relative inline-flex flex-shrink-0 cursor-pointer items-center rounded-full border border-transparent transition-colors duration-200 ease-in-out focus-visible:ring-0 disabled:cursor-not-allowed disabled:opacity-50 data-[checked]:bg-primary-600;

  &--size-sm {
    @apply h-4 w-7;
  }

  &--size-md {
    @apply h-6 w-11;
  }

  &:hover {
    @apply enabled:ring-2 ring-primary-400;
  }

  &__thumb {
    @apply bg-surface-primary pointer-events-none inline-block aspect-square transform rounded-full shadow-lg ring-0 transition duration-200 ease-in-out;

    &--size-sm {
      @apply w-3.5 translate-x-0 group-data-[checked]:translate-x-3;
    }

    &--size-md {
      @apply w-5 translate-x-0.5 group-data-[checked]:translate-x-5;
    }
  }
}
