@import "../../mixins.scss";

.HPuiTooltip__trigger {
  @include button-reset;

  @apply h-fit w-fit;
}

.HPuiTooltip span:nth-child(2) {
  bottom: 0.5px !important;
}

.HPuiTooltip {
  @apply z-50 min-w-[0px] max-w-[320px] rounded-lg bg-surface-overlay p-2 text-xs font-normal text-surface-primary;

  box-shadow:
    hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  user-select: none;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}

.HPuiTooltip[data-state="delayed-open"][data-side="top"] {
  animation-name: slideDownAndFade;
}

.HPuiTooltip[data-state="delayed-open"][data-side="right"] {
  animation-name: slideLeftAndFade;
}

.HPuiTooltip[data-state="delayed-open"][data-side="bottom"] {
  animation-name: slideUpAndFade;
}

.HPuiTooltip[data-state="delayed-open"][data-side="left"] {
  animation-name: slideRightAndFade;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
