.GeckoUIDrawer {
  @apply relative z-50;

  &__backdrop {
    @apply fixed inset-0 cursor-pointer transition duration-300 ease-in-out;

    &--hidden,
    &--clickthrough {
      @apply pointer-events-none;
    }

    &--visible {
      @apply bg-surface-overlay/25 bg-opacity-75 opacity-100;
    }

    &--hidden {
      @apply opacity-0;
    }
  }

  &__drawer {
    @apply pointer-events-auto fixed h-full w-full transform overflow-y-auto bg-surface-primary shadow-xl transition duration-300 ease-in-out;

    &--right {
      @apply inset-y-0 right-0 max-w-md;
    }

    &--left {
      @apply inset-y-0 left-0 max-w-md;
    }

    &--top {
      @apply inset-x-0 top-0 max-h-[50%];
    }

    &--bottom {
      @apply inset-x-0 bottom-0 max-h-[50%];
    }

    &--closed {
      @apply delay-100;
    }

    &--top-open,
    &--bottom-open {
      @apply translate-y-0;
    }

    &--right-open,
    &--left-open {
      @apply translate-x-0;
    }

    &--right-closed {
      @apply translate-x-full;
    }

    &--left-closed {
      @apply -translate-x-full;
    }

    &--top-closed {
      @apply -translate-y-full;
    }

    &--bottom-closed {
      @apply translate-y-full;
    }
  }
}
