@import "../../mixins.scss";

.GeckoUITextarea {
  @include form-reset;
  @include focus-outline;

  @apply w-full rounded-md border border-border-secondary px-3 py-1.5 text-sm placeholder:text-sm placeholder:font-normal placeholder:leading-5 placeholder:text-text-placeholder focus:outline-none focus:ring-0 focus:ring-offset-0 enabled:hover:border-primary-300 enabled:focus:border-primary-300 disabled:cursor-not-allowed disabled:bg-surface-disabled disabled:text-text-disabled;
}
