@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

body {
  background-color: white;
}

.dark body {
  background-color: #121212;
}

@layer components {
  @import "@productionbug/gecko/styles.css";
  @import "@productionbug/gecko/markdown.css";
}
