@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

body {
  background-color: white;
}

.dark body {
  background-color: #121212;
}

@layer components {
  @import "@productionbug/gecko/styles.css";
  @import "@productionbug/gecko/markdown.css";

  /* Module Augmentation Examples - Custom Button Colors */
  .GeckoUIButton--filled-secondary {
    @apply bg-gray-600 text-white border-gray-600 enabled:hover:bg-gray-700 enabled:hover:border-gray-700 disabled:bg-gray-600/50 disabled:border-gray-400;
  }

  .GeckoUIButton--filled-danger {
    @apply bg-red-600 text-white border-red-600 enabled:hover:bg-red-700 enabled:hover:border-red-700 disabled:bg-red-600/50 disabled:border-red-400;
  }

  .GeckoUIButton--outlined-secondary {
    @apply border-gray-400 text-gray-600 enabled:hover:bg-gray-50 disabled:bg-gray-50 disabled:text-gray-400;
  }

  .GeckoUIButton--outlined-danger {
    @apply border-red-400 text-red-600 enabled:hover:bg-red-50 disabled:bg-red-50 disabled:text-red-400;
  }

  .GeckoUIButton--ghost-secondary {
    @apply text-gray-600 enabled:hover:bg-gray-50 disabled:text-gray-400;
  }

  .GeckoUIButton--ghost-danger {
    @apply text-red-600 enabled:hover:bg-red-50 disabled:text-red-400;
  }

  .GeckoUIButton--icon-secondary {
    @apply text-gray-500 disabled:text-gray-400;
  }

  .GeckoUIButton--icon-danger {
    @apply text-red-500 disabled:text-red-400;
  }

  /* Module Augmentation Examples - Custom Switch Size */
  .GeckoUISwitch--size-lg {
    @apply h-8 w-14;
  }

  .GeckoUISwitch__thumb--size-lg {
    @apply w-6 translate-x-0.5 group-data-[checked]:translate-x-3.5;
  }

  /* Module Augmentation Examples - Custom Alert Variant */
  .GeckoUIAlert--critical {
    @apply text-purple-600;
  }

  .GeckoUIAlert__icon--critical {
    @apply bg-purple-600;
    mask-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16ZM8 3C8.41421 3 8.75 3.33579 8.75 3.75V8.25C8.75 8.66421 8.41421 9 8 9C7.58579 9 7.25 8.66421 7.25 8.25V3.75C7.25 3.33579 7.58579 3 8 3ZM8 13C8.55228 13 9 12.5523 9 12C9 11.4477 8.55228 11 8 11C7.44771 11 7 11.4477 7 12C7 12.5523 7.44771 13 8 13Z" fill="currentColor"/></svg>');
    -webkit-mask-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16ZM8 3C8.41421 3 8.75 3.33579 8.75 3.75V8.25C8.75 8.66421 8.41421 9 8 9C7.58579 9 7.25 8.66421 7.25 8.25V3.75C7.25 3.33579 7.58579 3 8 3ZM8 13C8.55228 13 9 12.5523 9 12C9 11.4477 8.55228 11 8 11C7.44771 11 7 11.4477 7 12C7 12.5523 7.44771 13 8 13Z" fill="currentColor"/></svg>');
  }
}
