.GeckoUIConfirmDialog {
  &__dialog {
    @apply pt-6 pb-4;
  }

  &__title {
    @apply text-base font-semibold leading-none text-text-primary;
  }

  &__content {
    @apply mb-1 py-4 text-sm font-normal text-text-muted;
  }

  &__actions {
    @apply flex flex-row justify-end gap-x-2 text-sm font-semibold;
  }
}
